{% extends 'main/base.html' %}
{% load static %}


{% block content %}
     <div class="columns">
     <div class="column is-6">
         <div class="media mb-4">
             <div class="media-left">

                 <div>

                     <div class="media-content">
                         <h1 class="title is-3"> Username: {% firstof user.get_username%}</h1>
                     </div>

                 </div>
             </div>
         </div>
     </div>
     <a href="{% url 'password_change' %}" class="button ">Change Password</a>

         <form method="POST" action="{% url 'deleted-account'%}">
             {% csrf_token %}
     <button type="submit" id="delete-profile">Delete profile </button>
             </form>
    </div>


    <hr>


    <div class="column">
        <h2> Friends</h2>

        <form method="POST" action="{% url 'add-friend' %}">
       {% csrf_token %}
       <label for="friends">
       <input type="text" name="friend_name" id="friend_name_texbox">
       <button type="submit" id="add-friend">Add friend </button>

           </label>
    </form>
    </div>
{{ error }}
    <div class="column">

            {% for friend in output %}
                    <h3> {{ friend.name }}</h3>
                    <h3> {{ friend.time }}</h3>
                 <form method="POST" action="{% url 'dashboard' friend.user_id %}">
                {% csrf_token %}
                    <button type="submit"> Details</button>
                 </form>
                <form method="POST" action="{% url 'unfriend' friend.friend_id %}">
                {% csrf_token %}
                <button type="submit"> Unfriend</button>
                </form>
                </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}