{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <script>


        function change_activity(localBtn) {
            let activityTextBox = document.getElementById('activity_text_box')
            let startActivityBtn = document.getElementById('start-activity')
            let changeBTN = document.getElementById('change-activity2')
            let eventId = document.getElementById('change-event-id')
            let changeTextBox = document.getElementById('change-event-event')
            let moodTextBox = document.getElementById('mood_text_box')
            let moodBTN = document.getElementById('start-mood')


            changeTextBox.value = localBtn.parentElement.children[0].childNodes[0].nodeValue
            startActivityBtn.setAttribute('disabled', 'disabled')
            changeBTN.removeAttribute('disabled')
            localBtn.parentElement.setAttribute('hidden', 'hidden')
            eventId.value = localBtn.parentElement.children[4].textContent
            changeTextBox.removeAttribute('disabled')
            activityTextBox.setAttribute('disabled', 'disabled')
            moodTextBox.setAttribute('disabled', 'disabled')
            moodBTN.setAttribute('disabled', 'disabled')

    }

    {#function change_activity2(){#}
    {#    let activityTextBox = document.getElementById('activity_text_box')#}
    {#    let startActivityBtn = document.getElementById('start-activity')#}
    {#    let changeBTN = document.getElementById('change-activity2')#}
    {#    let eventId = document.getElementById('change-event-id')#}
    {#    let changeTextBox = document.getElementById('change-event-event')#}
    {#    let localBtns = document.getElementById('change-activity')#}
    {##}
    {##}
    {#    for (let i=0; i<localBtns.length; ++i ){#}
    {#       if (localBtns[i].parentElement.children[2].textContent == eventId.value){#}
    {#           localBtns[i].removeAttribute('hidden')#}
    {#       }#}
    {#    }#}
    {##}
    {#    changeBTN.setAttribute('disabled', 'disabled')#}
    {#    changeTextBox.setAttribute('disabled', 'disabled')#}
    {#    startActivityBtn.removeAttribute('disabled')#}
    {#    activityTextBox.removeAttribute('disabled')#}
    {##}
    {##}
    {#    localBtns.removeAttribute('hidden')#}
    {#}#}

</script>

<div class="container">
    <h1>Mood Tracker Dashboard</h1>

  <form method="POST" action="{% url 'change-event' %}">
       {% csrf_token %}
       <label for="activity">
       <input type="text" name="event-id" id="change-event-id" hidden="hidden">
           <input type="text" name="event" disabled="disabled" id="change-event-event">
       <button disabled="disabled" type="submit" id="change-activity2">Apply changes </button>

           </label>
    </form>

    <form method="POST" action="{% url 'start-activity' %}">
        {% csrf_token %}
            <label for="activity">
             <h4>-- Select activity --</h4>
                 <input type="text" id="activity_text_box" name="event" required>
                  <button type="submit" id="start-activity">Start Activity</button>
            </label>
           </form>


    <form method="POST" action="{% url 'start-mood' %}">
        {% csrf_token %}
         <label for="mood">
                <h4>-- Select Mood --</h4>
                <input type="text" id="mood_text_box" name="event" required>
            <button type="submit" id="start-mood">Start Mood</button>
            </label>
    </form>

        <h2>Currently Tracked Activities</h2>
                <div id="activity-list">
                    {% for activity in output %}
                    <div id="activity-container">
                        Current activity is: <span id="activity-name">{{ activity.name }}</span>
                        <button id="change-activity" onclick="change_activity(this)">Change Activity</button>
                        <br>
                        Started it in time: <span id="activity-time">{{ activity.time }}</span>
                        <span id="activity-id" hidden="hidden">{{ activity.id }}</span>
                        <br>

                        <div id="mood-container">
                            {% for mood in activity.moods %}
                            My current mood is: <span id="mood-name">{{ mood.name }}</span>
                                <button id="change-mood" onclick="change_activity(this)">Change Mood</button>
                            <br>
                            The time I started is:<span id="mood-time">{{mood.time}}</span>
                                <span id="mood-id" hidden="hidden">{{ mood.id }}</span>
                            <br>
                            {% endfor %}
                            <br>
                        </div>
                    </div>
                    {% endfor %}
                </div>

        <div class="previous-activities">
            <h2>Previous Activities</h2>
            </div>

</div>




{% endblock %}


